{% include 'admin/header.html' %}
<title>Event</title>
 <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
            <div class="col-lg-8 mb-5" style="margin: auto;">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Add Event</h3>
                  </div>
                  <div class="card-body">
                    <form action="/addevenetaction" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label class="form-control-label text-uppercase">Title*</label>
                        <input type="text" name="title" id="title" required class="form-control">
                      </div>
                      <div class="form-group">       
                        <label class="form-control-label text-uppercase">Start*</label>
                        <input type="datetime-local" name="start_date" id="start_date" required class="form-control" min="{{today}}">
                      </div>
                      <div class="form-group">       
                        <label class="form-control-label text-uppercase">End*</label>
                        <input type="datetime-local" name="end_date" id="end_date" required class="form-control" min="{{today}}">
                      </div>
                      <div class="form-group">
                        <label class="form-control-label text-uppercase">File*</label>
                          <div class="col-md-12">
                          <input type="file" class="custom-file-input" name="file" id="file" required="required">
                        <label class="custom-file-label"  style="border-radius: 2rem " for="customFile">Upload File</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-control-label text-uppercase">Note</label>
                        <textarea  name="note" id="note" required class="form-control" ></textarea>
                      </div>
                      <div class="form-group">       
                        <button type="submit" class="btn btn-primary">Publish Now</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </section>
  </div>
  <script type="text/javascript">
              $(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  </script>
  {% include 'admin/footer.html' %}