{% include 'admin/header.html' %}
	<title>Home</title>
 <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <a href="/viewstudent" style="text-decoration: none;text-decoration-color: inherit;">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                      <h6 class="mb-0">Students</h6><span class="text-gray" style="font-size: 30px;">{{students['students']}}</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-violet"><i class="fas fa-user-graduate"></i></div>
                </div></a>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <a href="/viewtrainer" style="text-decoration: none;text-decoration-color: inherit;">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                      <h6 class="mb-0">Trainers</h6><span class="text-gray" style="font-size: 30px;">{{trainers['trainers']}}</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-green"><i class="fas fa-chalkboard-teacher"></i></div>
                </div></a>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <a href="/viewareamanager" style="text-decoration: none;text-decoration-color: inherit;">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-blue"></div>
                    <div class="text">
                      <h6 class="mb-0">Area Managers</h6><span class="text-gray" style="font-size: 30px;">{{area_managers['area_managers']}}</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-blue"><i class="fa fa-tasks"></i></div>
                </div></a>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <a href="/viewbranchamanager" style="text-decoration: none;text-decoration-color: inherit;">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-red"></div>
                    <div class="text">
                      <h6 class="mb-0">Branch Managers</h6><span class="text-gray" style="font-size: 30px;">{{branch_managers['branch_managers']}}</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-red"><i class="fa fa-tasks"></i></div>
                </div>
              </div></a>
            </div>
          </section>
          <section>
            <div class="row">
              <div class="col-lg-6" align="center">
                <div class="card">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Notice</h2>
                  </div>
                  <div class="card-body">
                    <marquee direction="up" scrolldelay="20sec" style="height:300px;">
                    {% if notice %}
                    {% for notice in notice %}
                    <h3>{{notice['title']}}</h3>
                    {{notice['not_date']}}
                    <p class="text-gray">{{notice['notice']}}</p><br>
                    Posted by {{notice['add_by']}} at
                    {{notice['date']}}<hr>
                    {% endfor%}
                    {% else %}
                  <h5 align="center">No Notice </h5>
                  {% endif %}
                  </marquee>
                  </div>
                </div><br>
              </div>
              <div class="col-lg-6" align="center" >
                <div class="card">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">Event</h2>
                  </div>
                  <div class="card-body">
                    <marquee direction="up" scrolldelay="20sec" style="height:300px;">
                    {% if event %}
                    {% for event in event %}
                    <h3>{{event['title']}}</h3>
                    Start : {{event['start_date']}}<br>End : {{event['end_date']}}
                    <p class="text-gray">{{event['note']}}</p>
                    <img src="../../static/event/{{event['file'] }}" width="100%" height="100%"><br>
                    Posted by {{event['add_by']}} at
                    {{event['date']}}<hr>
                    {% endfor%}
                    {% else %}
                  <h5 align="center">No Events </h5>
                  {% endif %}
                  </marquee>
                  </div>
                </div><br><br>
              </div>
              <!-- <div class="col-lg-5 mb-4 mb-lg-0 pl-lg-0">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row align-items-center flex-row">
                      <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>86.4</span><span class="dot bg-green d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">Work hours</span>
                        <hr><small class="text-muted">Lorem ipsum dolor sit</small>
                      </div>
                      <div class="col-lg-7">
                        <canvas id="pieChartHome1"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center flex-row">
                      <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>1.724</span><span class="dot bg-violet d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">Server time</span>
                        <hr><small class="text-muted">Lorem ipsum dolor sit</small>
                      </div>
                      <div class="col-lg-7">
                        <canvas id="pieChartHome2"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row align-items-center mb-3 flex-row">
                      <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>₹126,41</span><span class="dot bg-violet d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">Monthly Income</span>
                        <!-- <hr><small class="text-muted">Lorem ipsum dolor sit</small> -->
                      </div>
                      <div class="col-lg-6">
                        <canvas id="pieChartHome3"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center flex-row">
                      <div class="col-lg-6">
                        <h2 class="mb-0 d-flex align-items-center"><span>₹126,41</span><span class="dot bg-green d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">All Income</span>
                        <!-- <hr><small class="text-muted">Lorem ipsum dolor sit</small> -->
                      </div>
                      <div class="col-lg-6">
                        <canvas id="pieChartHome4"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row align-items-center flex-row">
                      <div class="col-lg-5">
                        <h2 class="mb-0 d-flex align-items-center"><span>₹126,41</span><span class="dot bg-green d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">Monthly Expense</span>
                        <!-- <hr><small class="text-muted">Lorem ipsum dolor sit</small> -->
                      </div>
                      <div class="col-lg-6">
                        <canvas id="pieChartHome1"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center flex-row">
                      <div class="col-lg-6">
                        <h2 class="mb-0 d-flex align-items-center"><span>₹126,41</span><span class="dot bg-violet d-inline-block ml-3"></span></h2><span class="text-muted text-uppercase small">All Expense</span>
                        <!-- <hr><small class="text-muted">Lorem ipsum dolor sit</small> -->
                      </div>
                      <div class="col-lg-6">
                        <canvas id="pieChartHome2"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section><br>
<!--           <section class="py-5">
            <div class="row text-dark">
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card rounded credit-card bg-hover-gradient-violet">
                  <div class="content d-flex flex-column justify-content-between p-4">
                    <h1 class="mb-5"><i class="fab fa-cc-visa"></i></h1>
                    <div class="d-flex justify-content-between align-items-end pt-3">
                      <div class="text-uppercase">
                        <div class="font-weight-bold d-block">Card Number</div><small class="text-gray">1245 1478 1362 6985</small>
                      </div>
                      <h4 class="mb-0">₹417.78</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card rounded credit-card bg-hover-gradient-blue">
                  <div class="content d-flex flex-column justify-content-between p-4">
                    <h1 class="mb-5"><i class="fab fa-cc-mastercard"></i></h1>
                    <div class="d-flex justify-content-between align-items-end pt-3">
                      <div class="text-uppercase">
                        <div class="font-weight-bold d-block">Card Number</div><small class="text-gray">1245 1478 1362 6985</small>
                      </div>
                      <h4 class="mb-0">₹124.17</h4>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-lg-4 mb-4 mb-lg-0">

            </div>
          <!-- </section>  -->
          <section>
            <div class="row">
              <div class="col-lg-8">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-header">
                    <h2 class="h6 mb-0 text-uppercase">Latest Users</h2>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                      <div class="left d-flex align-items-center">
                        <div class="icon icon-lg shadow mr-3 text-gray"><i class="fas fa-user-friends"></i></div>
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>Sanoop</span><span class="dot dot-sm ml-2 bg-violet"></span></h6><small class="text-gray">Branch : Ulickkal</small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                        <h5>12-02-2021</h5>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                      <div class="left d-flex align-items-center">
                        <div class="icon icon-lg shadow mr-3 text-gray"><i class="fas fa-user-friends"></i></div>
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>Albert</span><span class="dot dot-sm ml-2 bg-green"></span></h6><small class="text-gray">Branch : Manikkdavu</small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-green">
                        <h5>12-02-2021</h5>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                      <div class="left d-flex align-items-center">
                        <div class="icon icon-lg shadow mr-3 text-gray"><i class="fas fa-user-friends"></i></div>
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>Manu</span><span class="dot dot-sm ml-2 bg-green"></span></h6><small class="text-gray">Branch : Manikkdavu</small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-green">
                        <h5>12-02-2021</h5>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                      <div class="left d-flex align-items-center">
                        <div class="icon icon-lg shadow mr-3 text-gray"><i class="fas fa-user-friends"></i></div>
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>Arun</span><span class="dot dot-sm ml-2 bg-red"></span></h6><small class="text-gray">Branch : Malappuram</small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-red">
                        <h5>10-02-2021</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                      <h6 class="mb-0">New Students</h6><span class="text-gray">12</span>
                    </div>
                  </div>
                  <div class="icon bg-violet text-white"><i class="fas fa-clipboard-check"></i></div>
                </div>
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                      <h6 class="mb-0">New Trainers</h6><span class="text-gray">9</span>
                    </div>
                  </div>
                  <div class="icon bg-green text-white"><i class="fas fa-dollar-sign"></i></div>
                </div>

                <div class="card px-5 py-4">
                  <h2 class="mb-0 d-flex align-items-center"><span>86.4</span><span class="dot bg-red d-inline-block ml-3"></span></h2><span class="text-muted">Server time</span>
                  <div class="chart-holder">
                    <canvas id="lineChart3" style="max-height: 7rem !important;" class="w-100">      </canvas>
                  </div>
                </div>
              </div>
            </div><br><br>
          </section>
          <!-- <section class="py-5">
            <div class="row">
              <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                  <div class="row">
                    <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left"><strong class="h5 mb-0">24<sup class="smaller text-gray font-weight-normal">Apr</sup></strong><img src="img/avatar-1.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
                      <h6 class="mb-0">Jason Maxwell</h6>
                    </div>
                    <div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                      <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">User testing</div>
                      <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                  </div></a></div>
              <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                  <div class="row">
                    <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left"><strong class="h5 mb-0">24<sup class="smaller text-gray font-weight-normal">Nov</sup></strong><img src="img/avatar-2.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
                      <h6 class="mb-0">Sam Andy</h6>
                    </div>
                    <div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                      <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">Web Developer</div>
                      <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                  </div></a></div>
              <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                  <div class="row">
                    <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left"><strong class="h5 mb-0">17<sup class="smaller text-gray font-weight-normal">Aug</sup></strong><img src="img/avatar-3.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
                      <h6 class="mb-0">Margret Peter</h6>
                    </div>
                    <div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                      <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">Analysis Agent</div>
                      <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                  </div></a></div>
              <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                  <div class="row">
                    <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left"><strong class="h5 mb-0">15<sup class="smaller text-gray font-weight-normal">Sep</sup></strong><img src="img/avatar-4.jpg" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
                      <h6 class="mb-0">Jason Doe</h6>
                    </div>
                    <div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                      <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">User testing</div>
                      <p class="mb-0 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                  </div></a></div>
            </div>
          </section> -->
        </div>



<!-- <center>
	<h2>Home</h2>
	<table style="border: 1px solid black;">
		<tr>
			<td><a href="/addstudent">Add Student</a></td>
		</tr>
		<tr>
			<td><a href="/viewstudent">View Student</a></td>
		</tr>
		<tr>
			<td><a href="/addtrainer">Add Trainer</a></td>
		</tr>
		<tr>
			<td><a href="/viewtrainer">View Trainer</a></td>
		</tr>
		<tr>
      	<td><a href="addareamanager">Add Area Manager</a></td>
    	</tr>
    	<tr>
      <td><a href="addbranchmanager">Add Branch Manager</a></td>
    </tr>
    <tr>
     <td><a href="addbranch">Add Branch</a></td>

    </tr><tr>

      <td><a href="viewareamanager">View Area Manager</a></td>
    </tr>
    <tr>
     <td><a href="viewbranchmanager">view Branch Manager</a></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
     <td><a href="logout"> logout</a></td>
      <td>&nbsp;</td>
    </tr>
	</table> -->
</center>
{% include 'admin/footer.html' %}